body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient( #1aff1a,#ffff1a, #ff4dc4)
}
.header_div {
    background:white;
    color:red
}
.header_div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #ccff99;
    line-height:3;
    text-align:center;
    text-shadow:5px 5px 5px rgb(151, 149, 149);
}